<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zy.blog.admin.mapper.AdminMapper">

   <!-- <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial)  values(#{serial});
    </insert>


    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id=#{id};
    </select>-->
    <!--定义Admin的ResultMap-->
    <resultMap id="AdminMap" type="com.zy.blog.entity.Admin">
        <id column="uid" property="uid" javaType="String"/>
        <id column="user_name" property="userName" javaType="String"/>
        <id column="pass_word" property="passWord" javaType="String"/>
        <id column="avatar" property="avatar" javaType="String"/>
        <id column="email" property="email" javaType="String"/>
        <id column="birthday" property="birthday" javaType="String"/>
        <id column="mobile" property="mobile" javaType="String"/>
        <id column="valid_code" property="validCode" javaType="String"/>
        <id column="summary" property="summary" javaType="String"/>
        <id column="login_count" property="loginCount" javaType="Integer"/>
        <id column="last_login_time" property="lastLoginTime" javaType="String"/>
        <id column="last_login_ip" property="lastLoginIp" javaType="String"/>
        <id column="status" property="status" javaType="Integer"/>
        <id column="create_time" property="createTime" javaType="java.sql.Timestamp"/>
        <id column="update_time" property="updateTime" javaType="java.sql.Timestamp"/>
        <id column="nick_name" property="nickName" javaType="String"/>
        <id column="qq_number" property="qqNumber" javaType="String"/>
        <id column="we_chat" property="weChat" javaType="String"/>
        <id column="occupation" property="occupation" javaType="String"/>
        <id column="github" property="github" javaType="String"/>
        <id column="gitee" property="gitee" javaType="String"/>
        <id column="role_uid" property="roleUid" javaType="String"/>
        <id column="gender" property="gender" javaType="String"/>
    </resultMap>
    <select id="getUserByUsername" resultMap="AdminMap" >
        select * from t_admin where user_name=#{arg0};
    </select>

</mapper>
