<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zy.blog.admin.mapper.AdminMapper">

   <!-- <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial)  values(#{serial});
    </insert>


    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id=#{id};
    </select>-->
    <!--定义Admin的ResultMap-->
    <resultMap id="AdminMap" type="com.zy.blog.entity.Admin">
        <id column="uid" property="uid" javaType="String"/>
        <id column="user_name" property="userName" javaType="String"/>
        <id column="pass_word" property="passWord" javaType="String"/>
        <id column="gender" property="gender" javaType="String"/>
    </resultMap>
    <select id="login" resultMap="AdminMap" >
        select * from t_admin where user_name=#{arg0} and pass_word=#{arg1};
    </select>

</mapper>
